body{
    font-family: 'Euclid Circular A';
    font-size: 48px;
    line-height: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}

.navigation a{
    color: black;  
    margin-right: 25px;
}

.navigation a:hover{
    font-weight: 600;
}

.logo{
    position: absolute;
    left: 50%;
}

.logo_img{
    width: 35.53px;
    height: 30px;
}

.search a{
    color: black;  
    margin-left: 25px;
}

section{
    padding-top: 100px;
}

section .filter ul{
    list-style-type: none;
}

.container{
    padding-top: 0px;
}

.container .product{
    display: flex;
    flex-direction: row;
}

.container .left_img img{
    width: 900px;
}

.right_text{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right_text h1{
    font-size: 48px;
    margin: -1px;
}

.right_text h5{
    font-size: 16px;
    margin: -1px;
}

.right_text .bottom h5{
    font-size: 13px;
}

.right_text .bottom img{
    width: 13px;
    height: 13px;
}

.right_text .bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer li:hover{
    font-weight: 600;
}

footer .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 230px;
}

footer .top .link {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

footer .top .link div{
    padding-left: 15px;;
}

footer .top ul{
    list-style-type: none;
}

footer .bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 179px;
}
footer .bottom .left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .bottom .left div{
    padding-right: 20px
}

footer .logo_end {
    position: absolute;
    left: 45%;
}